.l-header{
	width: 100%;
	min-width:1400px;
	position: fixed;
	z-index: 8;
	background-color: #1D2126;
	}
	
	.b-header {
		height:80px;
		margin: 0 20%;
		}
		
		.b-header__logo {
			float:left;
			margin-top: 30px;
			width: 10%;
			min-width: 150px;
			height: 20px;
			background:url('../images/icon-header-logo.png') no-repeat;
			background-size:contain;
		}
		.b-header__menu {
			float: right;
			display: flex;
			justify-content: space-between;
			margin-top: 25px;
		}
			.b-header__menu-item {
				font-size: 14px;
				text-align: center;
				text-decoration: none;
				color: #A4AEAD;
				font-family:'open_sans_semibold';
				text-transform: uppercase;
				padding: 6px 10px;
				border: 2px solid #1D2126;
				border-radius: 6px;
			}
				.m-header__menu-item_active {
					color: #23B7A4;
					border: 2px solid #23B7A4;
				}
				.b-header__menu-item:hover {
					color: #5B6168;
					border: 2px solid #5B6168;
				}
				.m-header__menu-item_active:hover {
					color: #23B7A4;
					border: 2px solid #23B7A4;
				}

	
.l-content{
	width: 100%;
	min-width:1400px;
	padding-top:80px;
	}
	
	.b-content {
		
	}
		.b-content__home {
			height: 660px;
			background: url('../images/bg-content-home.png') no-repeat;
			background-size:cover;
		}
			.b-content__home-color {
				position:absolute;
				width:100%;
				height:660px;
				background-color: #000000;
				opacity: 0.5;
				z-index:1;
				min-width:1400px;
			}
			.b-content__home-content-margin {
				position:relative;
				margin: 0 20%;
			}
			.b-content__home-content-wrap {
				z-index:2;
				padding-top: 100px;
				height: 70%;
			}
				.m-content__home-content-1 {
					background: url('../images/slide1.png') no-repeat;
					background-size: contain;
					background-position: right;
				}
				.m-content__home-content-2 {
					background: url('../images/slide2.png') no-repeat;
					background-size: contain;
					background-position: right;
				}
				.m-content__home-content-3 {
					background: url('../images/slide3.png') no-repeat;
					background-size: contain;
					background-position: right;
				}
					.b-content__home-content-title {
						padding-top: 180px;
						float:left;
						color: #FFFFFF;
						font-size: 36px;
						font-family: 'quattrocento_sans_bold';
						text-transform: uppercase;
						width: 65%;
					}
					.b-content__home-content-text {
						float:left;
						padding-top: 30px;	
						color: #CCD0D7;
						font-size: 16px;
						font-family: 'open_sans';
						width: 70%;
						padding-bottom: 50px;
					}
						.slick-dots li button {
							border: 2px solid #FFFFFF; 
							border-radius:50px;
							width: 5px;
							height:5px;
						}
						.slick-dots li button:before {
							display:none;
						}
						.slick-dots li.slick-active button {
							background:#FFFFFF;
						}
						.slick-prev, .slick-next {
							width:32;
							height:32;
						}
						.slick-prev:before, .slick-next:before {
							font-size: 32px;
						}
						.slick-prev {
							left: -45px;
						}
						.slick-next {
							
						}
			.b-content__home-buttons {
				position:absolute;
				z-index:2;
				margin-top: 50px;
			}
				.b-content__home-content-button {
					float:left;
					display:block;
					min-width:100px;
					height: 41px;
					color: #FFFFFF;
					font-size: 14px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					text-decoration:none;
					border: 2px solid #FFFFFF;
					border-radius: 6px;
					line-height:45px;
					text-align:center;
					margin-right: 12px;
					padding: 0px 25px;
				}
					.b-content__home-content-button:hover {
						border:2px solid #23B7A4;
						background-color:#23B7A4;
						transition: all 0.3s ease-out;
					}
			
		.b-content__about {
			height: 530px;
			border-bottom: 1px solid #DDE1E4;
			clear:both;
		}
			.b-content__about-content {
				margin: 0 20%;
				padding-top: 80px;
			}
				.b-content__about-content-title {
					margin: 0 0 60px 0;	
					color: #292F36;
					font-size: 36px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					border-left: 10px solid #E1E6EA;
					padding-left:15px;
				}
				.b-content__about-content-blocks {
					display: flex;
					justify-content: space-between;
				}
					.b-content__about-content-left {
						width:58%;
						float:left;
						min-width: 450px;
						margin-right: 30px;
					}
						.b-content__about-content-left-text {
							padding-bottom: 30px;	
							color: #8D8F92;
							font-size: 16px;
							font-family: 'open_sans';
							line-height: 25px;
						}
							.m-content__about-content-left-text_style {
								font-family:'open_sans_bold';
							}
						.b-content__about-content-left-button {
							float:left;
							display:block;
							width:60px;
							height:60px;
							margin: 15px 1px 0 0;
						}
							.m-content__about-content-left-button_fb {
								background:url('../images/button-content-about-fb.png') no-repeat;
								background-color: #C8CDD0;
								background-position: center;
							}
							.m-content__about-content-left-button_tw {
								background:url('../images/button-content-about-tw.png') no-repeat;
								background-color: #C8CDD0;
								background-position: center;
							}
							.m-content__about-content-left-button_g {
								background:url('../images/button-content-about-g.png') no-repeat;
								background-color: #C8CDD0;
								background-position: center;
							}
							.m-content__about-content-left-button_db {
								background:url('../images/button-content-about-db.png') no-repeat;
								background-color: #C8CDD0;
								background-position: center;
							}
							.m-content__about-content-left-button_bh {
								background:url('../images/button-content-about-bh.png') no-repeat;
								background-color: #C8CDD0;
								background-position: center;
							}
							.b-content__about-content-left-button:hover {
								background-color: #D0D5D9;
							}
					.b-content__about-content-right {
						width:40%;
						float:left;
					}
						.b-content__about-content-right-block {
							width: 100%;
							margin-bottom: 30px;
							height:75px;
							min-width:400px;
						}
							.b-content__about-content-right-number {
								display:block;
								float:left;
								width:50px;
								height:50px;
								color: #FFFFFF;
								font-size: 20px;
								font-family: 'quattrocento_sans_bold';
								background-color: #23B7A4;
								line-height:50px;
								text-align:center;
								margin: 0 20px 35px 0;
							}
								.b-content__about-content-right-title {
									color: #000000;
									font-size: 18px;
									font-family: 'quattrocento_sans_bold';
									padding-bottom:10px;
								}
								.b-content__about-content-right-text {
									color: #8D8F92;
									font-size: 16px;
									font-family: 'open_sans';
									line-height: 25px;
								}
		.b-content__team {
			clear:both;
			width:100%;
		}						
			.b-content__team-content {
				margin: 0 20%;
				padding-top: 80px;
			}
				.b-content__team-content-title {
					margin: 0 0 60px 0;	
					color: #292F36;
					font-size: 36px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					border-left: 10px solid #E1E6EA;
					padding-left:15px;
				}
				.b-content__team-content-wrap {
					margin-bottom: 100px;
					height:375px;
					
					min-width:1100px;
					display: flex;
					justify-content: space-between;
				}
					.b-content__team-content-photo {
						float: left;
						width:23%;
						height:375px;
						min-width:260px;
						min-height: 300px;
					}
						.b-content__team-content-photo:hover .b-content__team-content-photo-shadow {
							opacity: 1;
						}
						.b-content__team-content-photo-shadow {
							position:absolute;
							opacity: 0;
							width:14%;
							height:300px;
							min-width:260px;
							transition: all 0.3s ease-out;
						}
							.b-content__team-content-photo-shadow-color {
								position:absolute;
								width:100%;
								height:300px;
								background-color: #FFFFFF;
								opacity: 0.5;
								z-index:1;
								min-width:265px;
							}
							.b-content__team-content-photo-shadow-connect {
								position:relative;
								z-index:2;
								width: 155px;
								margin: 0px auto;
								padding-top: 125px;
							}
								.b-content__team-content-photo-shadow-connect-item {
									display:block;
									float:left;
									width:50px;
									height:50px;
									
								}
									.m-content__team-content-photo-shadow-connect-item-tw {
										background:url('../images/button-content-about-tw.png') no-repeat;
										background-position:center;
										background-color: #3A454D;
										margin-right: 2px;
									}
									.m-content__team-content-photo-shadow-connect-item-fb {
										background:url('../images/button-content-about-fb.png') no-repeat;
										background-position:center;
										background-color: #3A454D;
										margin-right: 2px;
									}
									.m-content__team-content-photo-shadow-connect-item-g {
										background:url('../images/button-content-about-g.png') no-repeat;
										background-position:center;
										background-color: #3A454D;
									}
									.b-content__team-content-photo-shadow-connect-item:hover {
										background-color: #4E5A62; 
									}
					
						.b-content__team-content-photo-1 {
							display:block;
							height:300px;
							background:url('../images/button-content-team-1.png') no-repeat;
							background-size:cover;
						}
						.b-content__team-content-photo-text {
							height:75px;
							background-color: #E1E6EA;
							transition: all 0.3s ease-out;
						}
							.m-content__team_hover .b-content__team-content-photo-text {
								background-color: #3A454D;
							}
							.b-content__team-content-photo-name {
								font-size: 16px;
								font-family: 'quattrocento_sans_bold';
								text-transform: uppercase;
								padding: 20px 0 0 20px;
								color: #000000;
								transition: all 0.3s ease-out;
							}
								.m-content__team_hover .b-content__team-content-photo-name {
									color: #E1E6EA;
								}
							.b-content__team-content-photo-position {
								font-size: 14px;
								font-family:'open_sans';
								padding-left:20px;
								color: #8D8F92;
								transition: all 0.3s ease-out;
							}
								.m-content__team_hover  .b-content__team-content-photo-position{
									color: #E1E6EA;
								}
						.b-content__team-content-photo-2 {
							display:block;
							height:300px;
							background:url('../images/button-content-team-2.png') no-repeat;
							background-size:cover;
						}
						.b-content__team-content-photo-3 {
							display:block;
							height:300px;
							width:100%;
							background:url('../images/button-content-team-3.png') no-repeat;
							background-size:cover;
						}
						.b-content__team-content-photo-4 {
							display:block;
							height:300px;
							width:100%;
							background:url('../images/button-content-team-4.png') no-repeat;
							background-size:cover;
						}
		.b-content__work {
			height:900px;
			background-color: #3A454D;
			clear: both;
		}
			.b-content__work-content {
				margin: 0 20%;
				padding-top: 80px;
			}
				.b-content__work-content-title {
					margin-bottom:90px;
					color: #FFFFFF;
					font-size: 36px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					border-left: 10px solid #4E5A62;
					padding-left:15px;
				}
				.b-content__work-content-photo-wrap {
					width:100%;
					min-width: 1100px;
					display: flex;
					justify-content: space-between;
				}
					.b-content__work-content-photo {
						width: 30%;
						margin: -30px 0 60px 0; 
					}
						.b-content__work-content-photo:hover .b-content__work-content-photo-shadow{
							opacity:1;
						}
						.b-content__work-content-photo-shadow {
							opacity: 0;
							transition: all 0.3s ease-out;
						}
							.b-content__work-content-photo-shadow-color {
								position:absolute;
								width:18%;
								height:265px;
								background-color: #000000;
								opacity: 0.3;
								z-index:1;
								min-width: 330px;
							}
							.b-content__work-content-photo-shadow-zoomed {
								position:absolute;
								z-index:2;
								background:url('../images/content-work-zoomed.png') no-repeat;
								background-position:center;
								width:18%;
								height:205px;
								min-width: 330px;
							}
							.b-content__work-content-photo-text {
								display:block;
								position:absolute;
								width:18%;
								height:60px;
								background-color:#3A454D;
								color: #FFFFFF;
								font-size: 18px;
								font-family: 'quattrocento_sans_bold';
								text-transform: uppercase;
								line-height:60px;
								padding-left:20px;
								margin-top: 205px;
								min-width: 330px;
							}
						.b-content__work-content-photo-1 {
							display:block;
							height:265px;
							background:url('../images/bg-content-work-1.png') no-repeat;
							background-size:cover;
						}
					
						.b-content__work-content-photo-2 {
							display:block;
							height:265px;
							background:url('../images/bg-content-work-2.png') no-repeat;
							background-size:cover;
						}
						.b-content__work-content-photo-3 {
							display:block;
							height:265px;
							background:url('../images/bg-content-work-3.png') no-repeat;
							background-size:cover;
						}
						.b-content__work-content-photo-4 {
							display:block;
							height:265px;
							background:url('../images/bg-content-work-4.png') no-repeat;
							background-size:cover;
						}
						.b-content__work-content-photo-5 {
							display:block;
							height:265px;
							background:url('../images/bg-content-work-5.png') no-repeat;
							background-size:cover;
						}
						.b-content__work-content-photo-6 {
							display:block;
							height:265px;
							background:url('../images/bg-content-work-6.png') no-repeat;
							background-size:cover;
						}
				.b-content__work-button {
					display:block;
					clear:both;
					width:14%;
					height:40px;
					color:#FFFFFF;
					font-size: 14px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					text-decoration:none;
					border: 2px solid #FFFFFF;
					border-radius: 6px;
					line-height: 45px;
					text-align:center;
					margin:0px auto;
					min-width: 125px;
				}
					.b-content__work-button:hover {
						border:2px solid #23B7A4;
						background-color:#23B7A4;
						transition: all 0.3s ease-out;
					}
		.b-content__services {
			clear:both;
			width:100%;
			height:820px;
			padding-top:80px;
		}					
			.b-content__services-content-wrap {
				margin: 0 20%;
			}
				.b-content__services-title {
					margin: 0 0 60px 0;	
					color: #292F36;
					font-size: 36px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					border-left: 10px solid #E1E6EA;
					padding-left:15px;
				}
				
				.b-content__services-content {
					text-align:center;
					min-width: 1100px;
					display: flex;
					justify-content: space-between;
					margin: 0 0 60px 0;
				}
					.b-content__services-content-inner {
						width:23%;
						transition: all 0.2s ease-out;
						float: left;
					}
						.b-content__services-content-inner:hover {
							transform: scale(1.05);
							border: 1px solid #292F36;
							border-radius: 6px;
							background-color: #F5F5F5;
							padding: 10px;
							margin: -10px;
						}
						.b-content__services-content-inner-icon {
							padding: 35px;
						}
						.b-content__services-content-inner-title {
							color:#292F36;
							font-size: 17px;
							font-family: 'quattrocento_sans_bold';
							text-transform: uppercase;
							padding-bottom: 30px;
						}
						.b-content__services-content-inner-text {
							font-size: 16px;
							font-family:'open_sans';
							color: #8D8F92;
						}
		.b-content__features {
			height:730px;
			background-color: #3A454D;
			clear: both;
		}
			.b-content__features-content {
				margin: 0 20%;
				padding-top: 80px;
				min-width: 1100px;
			}
				.b-content__features-content-title {
					margin-bottom:90px;
					color: #FFFFFF;
					font-size: 36px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					border-left: 10px solid #4E5A62;
					padding-left:15px;
				}
				
				.b-content__features-block-wrap {
					display: flex;
					justify-content: space-between;
				}
				.b-content__features-block {
					width: 31%;
					float: left;
					min-width: 330px;
					transition: all 0.2s ease-out;
				}
					.b-content__features-block:hover {
						transform: scale(1.05);
						border: 1px solid #292F36;
						border-radius: 6px;
						background-color: #414D56;
						padding: 10px;
						margin: 0 -10px;
					}
					.m-content__features-block_mid {
						margin: 0 2%;
					}
					.b-content__features-block-photo {
						display:block;
						height:240px;
					}
						.m-content__features-block-photo-1 {
							background:url('../images/bg-content-features-1.png') no-repeat;
							background-size:cover;
						}
						.m-content__features-block-photo-2 {
							background:url('../images/bg-content-features-2.png') no-repeat;
							background-size:cover;
						}
						.m-content__features-block-photo-3 {
							background:url('../images/bg-content-features-3.png') no-repeat;
							background-size:cover;
						}
					.b-content__features-block-title {
						color:#FFFFFF;
						font-size: 18px;
						font-family: 'quattrocento_sans_bold';
						text-transform: uppercase;
						padding: 55px 0 30px 0;
					}
					.b-content__features-block-text {
						color: #BABEC1;
						font-size: 16px;
						font-family:'open_sans';
						line-height:1.5;
					}
						
		.b-content__contact {
			clear: both;
			height: 830px;
			padding-top: 80px;
		}
			.b-content__contact-map {
				position:absolute;
				width:100%;
				height:350px;
				background:url('../images/bg-content-contact-map.png') no-repeat;
				background-size:cover;
				margin-top: 110px;
			}
			.b-content__contact-inner {
				margin: 0 20%;
			}
				.b-content__contact-title {
					margin-bottom:480px;	
					color: #292F36;
					font-size: 36px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					border-left: 10px solid #E1E6EA;
					padding-left:15px;
				}
				
				.b-content__contact-block {
					width:70%;
					margin: 0 3% 90px 0;
				}
					.b-content__contact-subtitle {
						color: #292F36;
						font-size: 20px;
						font-family: 'quattrocento_sans_bold';
						text-transform: uppercase;
					}
					.b-content__contact-text {
						font-size: 16px;
						font-family:'open_sans';
						color: #8D8F92;
						padding-top: 30px;
						line-height: 28px;
					}
					.b-content__contact-button {
						display:block;
						float:left;
						height:41px;
						color:#FFFFFF;
						font-size: 15px;
						font-family: 'quattrocento_sans_bold';
						text-transform: uppercase;
						border: 2px solid #FFFFFF;
						background-color: #23B7A4;
						border-radius: 6px;
						text-decoration:none;
						line-height:45px;
						text-align:center;
						padding: 0px 30px;
						margin-top: 20px;
						transition: all 0.2s ease-out;
					}
						.b-content__contact-button:hover {
							border: 2px solid #23B7A4;
						}
						
			.b-content__contact-popup {
				background-color: #FFFFFF;
				border-radius: 10px;
				display: none;
			}
				.b-content__contact-popup-block {
					float:left;
					margin: 5% 0 35px 4.5%;
					width: 45.5%;
				}
					.b-content__contact-popup-title {
						font-size: 14px;
						font-family: 'quattrocento_sans_bold';
						text-transform: uppercase;
						color: #8D8F92;
						padding-bottom: 5px;
					}
						.b-content__contact-popup-input input{
							height:30px;
							border-radius:6px;
							background-color: #EAEEF1;
							outline:none;
							border:none;
							padding: 10px;
							width: 85%;
							border: 1px solid #580000;
						}
				.b-content__contact-popup-massage-wrap {
					margin: 5% 0px 0px 4.5%;
				}
					.b-content__contact-popup-textarea textarea{
						height:180px;
						width: 96%;
						background-color: #EAEEF1;
						border:none;
						border-radius:6px;
						outline:none;
						resize: none;
						text-transform:uppercase;
						overflow-y:hidden;
						border: 1px solid #580000;
					}
				.b-content__contact-popup-button {
					display:block;
					position:relative;
					height:41px;
					color:#FFFFFF;
					font-size: 15px;
					font-family: 'quattrocento_sans_bold';
					text-transform: uppercase;
					background-color: #23B7A4;
					border: 2px solid #FFFFFF;
					border-radius: 6px;
					text-decoration:none;
					line-height:45px;
					padding: 0px 30px;
					margin: 35px auto 0 auto;
					width: 110px;
					transition: all 0.2s ease-out;
				}
					.b-content__contact-popup-button:hover {
						border: 2px solid #23B7A4;
					}
.l-footer{
	width:100%;
	height:95px;
	background-color: #3A454D;
	clear:both;
	min-width:1400px;
}
	.b-footer {
		margin: 0 20%;
	}
		.b-footer__rights {
			color: #BABEC1;
			font-size: 14px;
			font-family:'open_sans';
			line-height:95px;
			float:left;
		}
		.b-footer__link {
			width: 20%;
			float:right;
		}
			.b-footer__link-item {
				display: block;
				float:left;
				width:20%;
				height:95px;
				transition: all 0.2s ease-out;
			}
				.m-footer__link-item_tw {
					background:url('../images/button-content-about-tw.png') no-repeat;
					background-position:center;
				}
				.m-footer__link-item_fb {
					background:url('../images/button-content-about-fb.png') no-repeat;
					background-position:center;
				}
				.m-footer__link-item_db{
					background:url('../images/button-content-about-db.png') no-repeat;
					background-position:center;
				}
				.m-footer__link-item_bh {
					background:url('../images/button-content-about-bh.png') no-repeat;
					background-position:center;
				}
				.m-footer__link-item_g {
					background:url('../images/button-content-about-g.png') no-repeat;
					background-position:center;
				}
				.b-footer__link-item:hover {
					transform: scale(1.5);
				}

@media only screen and (max-width: 1500px) {
    .b-header,
	.b-content__home-content-margin,
	.b-content__about-content,
	.b-content__team-content,
	.b-content__work-content,
	.b-content__services-content-wrap,
	.b-content__features-content,
	.b-content__contact-inner,
	.b-footer{
        margin: 0 15%;
    }
	
	@media only screen and (max-width: 1200px) {
    .b-header,
	.b-content__home-content-margin,
	.b-content__about-content,
	.b-content__team-content,
	.b-content__work-content,
	.b-content__services-content-wrap,
	.b-content__features-content,
	.b-content__contact-inner,
	.b-footer{
        margin: 0 10%;
    }
	
	@media only screen and (max-width: 900px) {
    .b-header,
	.b-content__home-content-margin,
	.b-content__about-content,
	.b-content__team-content,
	.b-content__work-content,
	.b-content__services-content-wrap,
	.b-content__features-content,
	.b-content__contact-inner,
	.b-footer{
        margin: 0 5%;
    }